@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap%27');

.title_Carnivorous{
    
    
    font-family: 'Vidaloka', serif;
    letter-spacing: 5px;
    text-align: center;
    background-image:url( "https://i.imgur.com/Aad3wsO.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
   
}
.container{
 
    display: flex;
    flex-direction: row;
    justify-content: center;   
}
@media (max-width: 760px) {
    .title_Carnivorous{
        margin-bottom: -500px;
    }
   
}