
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap%27%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,700&display=swap%27');
 
.more-info{
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  
  
  
  

  &__card_detail{
      
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 5px 15px 5px rgba(187,187,187,0.69);
      background-color: rgba(222, 184, 135, 0.089);
      padding-top: 20px;
      border-radius: 20px;

      
      
      
  }
 
  &__card-content_detail{
      padding: 10px;
      text-align:center;
      overflow: hidden;
      .plantImgContainer_media{
          width:500px;
          border-radius: 20px;
          :hover img {
            -webkit-transform:scale(2);transform:scale(1.05);
            overflow: hidden;
            margin: 20px;
            }
      }
     

      h1{
        
          color: #7c9252;
          font-weight: bold;
          font-size: 25px;
          font-family: 'Montserrat';
          margin: 10px;
          text-align: center;
      }

      
      p{
          padding-top: 15px;
          color: #b3afaf;
          font-weight: normal;
          font-size:20px;
          margin: 10px;
          word-spacing: 0px;
          overflow: hidden;
          
      }
  }
}
.plantImgContainer{
    border-radius: 20px;
}
@media (max-width: 900px) {
    .more-info__card-content_detail{
        .plantImgContainer_media{
        width: 270px;
        border-radius: 20px;
        }
    }
}