.cactus_container {
  width: 70%;
  display: flex;

  flex-wrap: wrap;

  .cactusList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    :hover {
      -webkit-transform: scale(1);
      transform: scale(1.02);
    }

    .li_cactus {
      text-decoration: none;
      width: 25%;
      margin: 50px;
      list-style: none;
    }

    h2 {
      border-radius: 8px;
      font-size: 22px;
      padding-top: 10px;
      color: rgba(19, 17, 17, 0.575);
    }
    .price_card {
      font-size: 18px;
      margin-bottom: 20px;
      margin-top: 5px;
      font-weight: bold;
    }
    .img_card_cactus {
      height: 270px;
      width:270px ;
      border-radius: 5px;
      object-fit: cover;
      margin-top: 20px;
      filter: saturate(180%);
    }
  }
}

@media (max-width: 900px) {
  .cactus_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    .cactusList {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    .li_cactus {
      width: 100%;
    }
  }
}
