@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap%27');

.title_Bonsai{
    
    font-family: 'Vidaloka', serif;
    letter-spacing: 5px;
    text-align: center;
    background-image:url( "https://i.imgur.com/i5r06XJ.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 40px;
}

.container{
 
    display: flex;
    flex-direction: row;
    justify-content: center;   
}